.alert{
    z-index: 10;
    position: absolute;
    top: 6rem;
    min-width: 20rem;
    height: 3rem;
    min-height: fit-content;
    padding: 1rem 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.alert > *{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

