.video-dropdown{
    background-color: var(--transparent-primary);
    backdrop-filter: blur(5px);
    color: var(--color-complementary);
    width: 13rem;
    position: absolute;
    right: 1rem;
    border-radius: 4px;
    z-index: 3;
    padding: 1rem;
}

.video-dropdown ul{
    padding: 0;
    font-size: 1.25rem;
}

.video-dropdown li{
    display: flex;
    font-family: var(--ff-serif);
    align-items: center;
}

.video-dropdown li:hover{
    color: var(--color-current);
    transition: all 0.3s ease;
}

.video-dropdown i{
    padding: 5px 8px;
}